<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if title }}{{ title }} | {{ /if }}{{ if site_settings:organization_name }}{{ site_settings:organization_name }}{{ else }}{{ site:name }}{{ /if }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ captcha:head }}
    </head>
    <body class="site-shell">
        <div class="site-frame">
            <header class="site-header">
                <a href="/" class="site-header__brand">
                    {{ if site_settings:organization_name }}{{ site_settings:organization_name }}{{ else }}{{ site:name }}{{ /if }}
                </a>

                <nav class="site-header__nav" aria-label="Primary">
                    <a href="/" class="site-header__link">Home</a>
                    <a href="/about" class="site-header__link">About</a>
                </nav>
            </header>

            {{ template_content }}
        </div>
    </body>
</html>
